@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Josefin+Slab:wght@100;300&family=Roboto:wght@100&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* fonts */
:root{
    --font-primary: "Josefin Sans", serif;
    --font-segundary: "Roboto", serif;
}

.hamburguer{
    /*background-color: ;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.line{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px #000;
}

header{

    width: 100%;
    height: 100vh; /* view height == altura da view */
    overflow: hidden; /* ajuste header */
    position: relative;
}

.img-wrapper{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, .8);
}

.img-wrapper img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* ofuscar a img background */
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    /* distancias para centralizar o posicionamento do banner lettring */
    position: absolute;
    left: 15%;
    top: 30%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem; /* 1em == fonte tem de referencia o elemento pai */
    font-family: var(--font-primary);
    font-weight: 600; /* refinamento da font */
    text-shadow: .3rem .4rem 2px rgba(0,0,0, .4); /* sombras-font */
    line-height: 4.5rem; /* distanciamento entre quebra de linhas */
    margin-bottom: 1rem;
    opacity: 0;
    animation: movebanner 1s 0.5s forwards;
}

.banner p {

    font-family: var(--font-primary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem 1px rgba(0,0,0, .4);
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: movebanner 1s 0.7s forwards;
}

.banner button{
    /* FAZER OUTRO BUTTON // N GOSTEI DESSE  */ 
    font-family: var(--font-segundary);
    color: #fff;
    font-size: 1rem;
    letter-spacing: .1rem; /* espacamento-lettring */
    text-transform: uppercase; /* txt maiusculo */
    background: linear-gradient(to right, #7a7373, #354579); /* #ffe259 #ffa751 */
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s 0.8s forwards;
}

.banner button:hover{
    /* efeitos button hover */ 
    opacity: 0.8;
    color: #000;
}

@keyframes movebanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
/*
.sidebar {

    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;

}

.menu {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color:#555;
    font-size: 2rem;
}

.menu-item { 
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-segundary);
    font-size: 2rem;
    transition: color 1s;
    color: #555;
    transition: color 1s;
    
}

.menu-link:hover{
    color: #6a3093;
}

*/